
body{
    margin: 0px;
    padding: 0px;
}


.bg-img {
    position: relative;
    height: 1400px; /* Adjust as per your needs */
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}
.bg-img-workouts{
    height: 2480px;
    background-repeat: repeat;
    background-image: url('img/bg.jpg');
    background-size: 112%;
    opacity: 0.7;
}

.bg-img-nutrition{
    height: 3520px;
    background-repeat: repeat;
    background-image: url('img/bg.jpg');
    background-size: 112%;
    opacity: 0.7;
}
.bg-img-photos{
    height: 3390px;
    background-repeat: repeat;
    background-image: url('img/bg.jpg');
    background-size: 112%;
    opacity: 0.7;
}
.bg-img-contact{
    opacity: 0.35;
}



.left img{
    width: 180px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background:black;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 22px;
    text-decoration: none;
}
.nav ul li a:hover
{
    background-color: blue;
}

main {
    position: absolute;
    top: 155px; 
    left: 48%;
    transform: translateX(-50%);
    width: 50%;
    z-index: 2;
    color: white;
    text-align: center;
}

main section {
    margin: 75px 0;
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 20px;
    border-radius: 10px;
}
.introduction p{
    font-size:19px ;
}

.featured-workout  {
    margin-top: 50px;
}
.wellness-tip {
    margin-top: 50px;
}
.featured-workout img {
    width: 90%; 
    max-width: 400px;
    margin-top: 20px;
    
}
.featured-workout a, .wellness-tip a {
    color:aqua; 
    font-weight: bold; 
    font-size: 24px;
    text-decoration: none;
}
.featured-workout p, .wellness-tip p{
    font-size: 18px;
}
.featured-workout a:hover, .wellness-tip a:hover {
    color: aqua;
    text-decoration: underline; 
    background-color: white;
}
.workout-category {
    margin-bottom: 9px; 
    margin-top: -36px;
}

.workout-category img {
    width: 100%;
    max-width: 600px;
    height: 390px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.workout-category p{
    margin-top: 20px;
    font-size: 22px;
}
.workout-category h2{
    color:darkorange;
    font-size: 49px;
}
.workout-category ul li{
    font-size: 22px;
}
.workout-category1{
    margin-bottom: 20px; 
   margin-top: 150px;
}
.workout-category1 img {
    width: 100%;
    max-width: 600px;
    height: 390px;
    margin-top: 5px;
    margin-bottom: 8px;
}
.workout-category1 h2{
    color:darkorange;
    font-size: 49px;
}
.workout-category1 p{
    font-size: 25px;
}
.pagination a {
    text-align: center;
    margin-top: 10px;
    font-size: 44px;
    color: aqua;
    text-decoration: none;
}
.pagination a:hover {
    background-color: #555;
}

.meal-planning img{
    width: 90%; 
    max-width: 500px;
    margin-top: 40px;
    height: 500px;
}
.meal-planning p{
    font-size: 18px;
}
.recipes img{
    width: 90%; 
    max-width: 225px;
}
.gallery p{
    font-size: 21px;
}
.photo-container img{
    width: 100%; 
    max-width: 300px;
    height:170px;
    padding :38px;
}
.photo-container p{
    font-size: 18px ;
    padding: 5px;
}
.ben-jackson {
    color: darkorange;
    font-size: 150px; 
}

h1{
    color:white;
    font-size: 38px ;
}
h4{ color:black;
    font-size: 42px;
    text-decoration: solid;
}

h5{
    color: black;
    font-size: 42px;
    text-decoration: solid;
    margin-top: 90px;
    
}
h6{
    color: darkblue;
    font-size: 42px;
    text-decoration: solid;
    margin-top: 30px;
    margin: 20px;
    
}

 h2,h3 {
    color: darkorange;
    font-size: 35px;
    text-decoration: solid;}
.healthy-tips ul li {
    margin-top: 5px;
    padding:5px;
    font-size: 19px;
}
.recipe ul li{
    font-size: 19px;
}
.recipe p{
    font-size: 18px;
}


footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 22px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: white;
    text-decoration: none;
}

footer p{
    font-size: 16px;
    margin: 30px;
}

.social-media {
    padding: 0;
}
.social-media i {
    font-size: 42px;
    margin-right: 8px;
    width: 32px;
}

img {
    max-width: 100%;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 37px;
    color:black;
}

.contact-form input, .contact-form textarea {
    width: 30%;
    padding: 12px;
    margin-bottom: 5px;
    border: 4px solid aqua;
}
.contact-form button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.contact-form button:hover {
    background-color: #555;
}
.contact-details p{
    font-size: 25px;
    color: aqua;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}

nav ul li a.active {
    background-color: #ff6347;
    font-weight: bold; 
}



